h2{
    text-transform:uppercase;
}

.about{

    padding: 20px 0 20px 0;
    
    background-color: rgb(229, 233, 236);
}
.about h2{
    text-decoration: underline ;
    margin-top: 3rem;
    color: var(--color-font);
    
}
.about button{
    width: 15rem;
    height: 3rem;
    font-size: medium;
    color: white;
    margin: 3rem 0 2rem 0;
    background-color: var(--color-babyblue);
    border: none;

}
.aboutbutton{
    position: relative;
    display: block;
}

.cards{
    margin: 20px;
    display: inline-block;
    position: relative;
    left: 0px;
}
.cards h3{
    color: var(--color-font-third);
}
.cards p{
    font-size: small;
    color: var(--color-font-third);
    font-weight: 400;
}
.circle{
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    background-color: var(--color-babyblue);
    display: inline-block;

}
.circle-icon{
   font-size: 2.5rem;
   color: white;
   position: relative;
   top: 25%;
}
.circle::before{
    content:"";
    height: inherit;
    position: absolute;
}
hr{
    margin: 1rem 20rem 0 20rem ;
}
.square{
    width: 7rem;
    height: 6rem;
    border-radius: 15px;
    background-color: var(--color-babyblue);
    display:block;
    position:relative ;
    left: 45%;
    right: 45%;
    margin-top: 4rem;
}
.cards-square h3, .cards-square p{
    color: var(--color-font-third);
}
.cards-square{
    margin-bottom: 2.5rem;
}
/* inside skills, targetting labels */
.bg{
    background-color: var(--color-font);
    padding: 1rem 0 2rem 0;
}
.skill{
    margin: 3px;
    border-color: transparent;
    border-style: solid;
    border-radius: 15px;
    height: 2rem;
}
.skills{
    position: relative;
    display: block;
}
.sk h3, .sk h4{
    margin-top: 2.25rem;
    margin-bottom: 1.25rem;
    color: white;
    font-weight: 300;
    text-overflow: clip;
}
