.bg-contact{
    background-color: var(--bg-secondary);
    margin-top: 3rem;
    padding: 1.5rem 0 8rem 0;
    margin-bottom: 1rem var(--color-babyblue);
}

body{
    background-color: var(--bg-secondary);
}
.radios{
    display: inline-block;
    margin: 0 4rem 0 4rem;
}
.left{
    text-align: left;
}
#input-group-dropdown-1{
    width: 55rem;
    height: 3rem;
    background-color: white;
}
#input-group-dropdown-1:hover{
    color: var(--color-pink);
}

.textbox{
    height: 240px;
}


/* after selection */
#input-group-dropdown-1.dropdown-toggle.show.btn.btn-outline-secondary{
    color: var(--bg-secondary);
}

.dropdown-menu.show{
    width: 51rem;
} 

/* ++++++++++++ */
.btn-send{
    display: block;
    float: right;
    color: var(--color-pink);
}
